1password
air-bin
alacritty
anki-bin
arandr
atuin
aws-cli-v2
base
base-devel
bat
brave-bin
brightnessctl
bruno
carapace
cbatticon
ccache
chezmoi
clang
cloudflare-warp-bin
cronie
ctags-git
cursor-bin
discord
docker
docker-compose
dunst
efibootmgr
everforest-gtk-theme-git
eza
fd
feh
firefox
flameshot
font-manager
fuse3
fzf
geeqie
ghostty
gimp
git
github-cli
github-desktop-bin
golangci-lint
google-chrome
grub
gucharmap
htop
hyprcursor
hyprland
hyprpaper
imv
inetutils
jdk17-openjdk
jq
kitty
kvantum-qt5
lazygit
linux
linux-firmware
linux-headers
lolcat
lxappearance
mdcat
micro
mkcert
mongodb-compass
nano
neofetch
neovim
net-tools
network-manager-applet
networkmanager
nmap
notion-app-electron
noto-fonts
noto-fonts-emoji
npm
ntfs-3g
nushell
nvm
nwg-look
obsidian
openrazer-daemon
os-prober
pacman-contrib
pamixer
papirus-icon-theme
paru
paru-debug
pavucontrol
picom
piper
pipes.sh
playerctl
pnpm
polybar
polychromatic
postgresql-libs
postman-bin
prettier
proj
pulseaudio
pyenv
python-distutils-extra
python-gdal
python-pip
python-pipx
python-psutil
python-xlib
qt5-graphicaleffects
qt5-quickcontrols2
qt6ct
qtile
qupath
ranger
redisinsight
redshift
ripgrep
rofi
roficlip
runjs-bin
sddm
slack-desktop
starship
stow
sudo
swaybg
swaylock
sysfsutils
tableplus
tcpdump
terraform
the_silver_searcher
thunar
tmux
trayer
ttf-cascadia-code
ttf-cascadia-code-nerd
ttf-dejavu
ttf-font-awesome
ttf-liberation
ttf-material-design-icons-git
ttf-material-icons-git
udiskie
unzip
upower
visual-studio-code-bin
vlc
volumeicon
warp-terminal
waybar
wezterm
wget
windsurf
wireplumber
wl-clipboard
wofi
xdg-desktop-portal
xf86-video-vesa
xlockmore
xob
xorg-bdftopcf
xorg-docs
xorg-font-util
xorg-fonts-100dpi
xorg-fonts-75dpi
xorg-fonts-encodings
xorg-iceauth
xorg-mkfontscale
xorg-server
xorg-server-common
xorg-server-devel
xorg-server-xephyr
xorg-server-xnest
xorg-server-xvfb
xorg-sessreg
xorg-setxkbmap
xorg-smproxy
xorg-x11perf
xorg-xauth
xorg-xbacklight
xorg-xcmsdb
xorg-xcursorgen
xorg-xdpyinfo
xorg-xdriinfo
xorg-xev
xorg-xgamma
xorg-xhost
xorg-xinit
xorg-xinput
xorg-xkbcomp
xorg-xkbevd
xorg-xkbutils
xorg-xkill
xorg-xlsatoms
xorg-xlsclients
xorg-xmodmap
xorg-xpr
xorg-xprop
xorg-xrandr
xorg-xrdb
xorg-xrefresh
xorg-xset
xorg-xsetroot
xorg-xvinfo
xorg-xwayland
xorg-xwd
xorg-xwininfo
xorg-xwud
xsel
xterm
zed
zen-browser-bin
zip
zoxide
zsh
zsh-autocomplete
zsh-autosuggestions
zsh-syntax-highlighting

{{ if eq .chezmoi.hostname "siac-lap-arch" }}
xf86-video-intel
nvidia
nvidia-prime
{{ else if eq .chezmoi.hostname "siac-arch" }}
xf86-video-amdgpu
{{ end }}
